* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #1d1e22;
  }
  
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .box {
    animation: boxAnimation 4s linear infinite;
    transform-style: preserve-3d;
    width: 100px;
    height: 100px;
    position: relative;
  }
  
  .side {
    background: radial-gradient(transparent, white);
    border: 2px solid black;
    position: absolute;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 8px white;
  }
  
  .side:before {
    content: " ";
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    width: 50%;
    height: 50%;
    background: radial-gradient(black, white);
    margin: 0 auto;
    box-shadow: 0 0 8px white;
  }
  
  .side:nth-child(2) {
    transform: rotateY(90deg) translate3d(50px, 0, 50px);
  }
  
  .side:nth-child(3) {
    transform: rotateY(90deg) translate3d(50px, 0, -50px);
  }
  
  .side:nth-child(4) {
    transform: translateZ(-100px);
  }
  
  .side:nth-child(5) {
    transform: rotateX(90deg) translate3d(0, -50px, -50px);
  }
  
  .side:nth-child(6) {
    transform: rotateX(90deg) translate3d(0, -50px, 50px);
  }
  
  @keyframes boxAnimation {
    100% {
      transform: rotateY(360deg) rotateZ(360deg);
    }
  }
  